* {
    padding: 0px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body { 
    background-color: #eff6e0;
    display: flex;
    flex-direction: column;
}
.title {
    background-color: #aec3b0;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.card {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    padding: 30px 30px 0px 30px;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.btn > button {
    background-color: #dad7cdbb;
    font-size: 0.9rem;
    border: solid;
    border-color:#aec3b0;
    padding: 10px 45px;
    border-radius: 20px;
}

button:hover {
    background-color: #dad7cd;
}
 
button:active {
    border-color: #85b38a;
}

dialog[open] {
    display: flex;
    flex-direction: column;
}

dialog[open] > form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.center {
   position: absolute;
   float: left;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

input {
    border-style: solid;
    border-width: thin;
}